@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-purpleRocket: rgb(130, 87, 230);
    --color-border: #757579;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d1117;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px;
    border-bottom: 1px solid var(--color-border);
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 30px;
}

.links a:hover {
    color: var(--color-purpleRocket);
    transition: color 400ms;
}

#content-wrap {
    text-align: center;
    margin: 32px 0;
    flex-grow: 1;
    height: 100vh;
}

#content-wrap img {
    height: 200px;
    border: 2px solid var(--color-purpleRocket);
    border-radius: 50%;
}

#content-wrap h1 {
    font-size: 42px;
    margin: 10px 0;
    font-weight: bold;
}

#content-wrap p {
    font-size: 18px;
    width: 50%;
    margin: 5px auto;
}

#content-wrap h2 {
    font-size: 24px;
    margin-top: 20px;
}

#content-wrap ul {
    margin: 10px 0;
    list-style-type: none;
}

#content-wrap ul li {
    margin: 5px 0;
    font-size: 18px;
}

#footer-links {
    padding: 32px;
    border-top: 1px solid var(--color-border);
}

#footer-links a:hover {
    border-bottom: 1px solid var(--color-purpleRocket);
}